extends template.pug

block template
	- var titlePage = 'Product'
	- var valor = 'testando'
	- var nameProduct = 'Nome teste'
	- var descriptionProduct = '<p><em>Lorem ipsum</em> dolor sit amet, consectetur adipisicing elit. <br>Consequuntur praesentium qui impedit dolorem, natus cumque corrupti ipsum, accusamus eius ducimus sint enim aut quos odio. Explicabo, doloribus, quibusdam. Ex, aut!</p> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <b>Velit</b> mollitia repellat porro. Possimus alias distinctio animi ratione atque voluptatum quo, reprehenderit cupiditate natus explicabo perspiciatis, ut, tempora vel rerum? Cupiditate!</p>'